/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {


    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #3a08bea8;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 120px;
    height: auto;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.user a {
    color: #ffa500;
}

section.hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('herobg.jpg');
    background-size: cover;
    background-position: center;
    color: #5335a0;
    margin-top: 0px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffa500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}

.featured_courses {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, rgba(116, 41, 173, 0), rgb(128 89 232));
    margin-top: 61px;
}

.featured_courses h2 {
    text-align-last: center;
    padding: 24px;

}

section.courses {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course {
    flex: 1;
    background-color: #8059e8;
    margin: 20px;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.course p {
    margin-bottom: 11px;
}


.course a {
    text-decoration: none;
}

.course img {
    max-width: 100%;
    height: 103px;
    margin-bottom: 20px;
    border-radius: 56%;
}

.feed {
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 29px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(116, 41, 173, 0), rgb(128 89 232));
}

section.feedbacks {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feedback {
    flex: 1;
    background-color: #8059e8;
    margin: 20px;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.feedback img {
    max-width: 100%;
    height: 103px;
    margin-bottom: 20px;
    border-radius: 56%;
}


.MENTOR {
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 29px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(116, 41, 173, 0), rgb(128 89 232));
}

section.mentors {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mentor img {
    max-width: 100%;
    height: 103px;
    margin-bottom: 20px;
    border-radius: 56%;
}

.mentor {
    flex: 1;
    background-color: #8059e8;
    margin: 20px;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-logo img {
    width: 100px;
    height: auto;
    border-radius: 67px;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links li {
    margin: 10px 0;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
}

.footer-social img {
    width: 30px;
    height: 30px;
    border-radius: 13px;
}
